<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/progrifit_logo"
        android:supportsRtl="false"
        android:theme="@style/Theme.ProgriFit30"
        android:label="ProgriFit">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBYBiJzvaGGr9mFr9aNaUbXJ8yHFvUTlV0" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.LandingPage"
            android:exported="false"/>
        <activity
            android:name=".screens.InformationPage"
            android:exported="false"/>
        <activity
            android:name=".screens.HomePage"
            android:exported="false"/>
        <activity
            android:name=".screens.cardio.CardioTrainingPage"
            android:exported="false"/>
        <activity
            android:name=".screens.cardio.addCardioRoute"
            android:exported="false"/>
        <activity
            android:name=".screens.cardio.StartRun"
            android:exported="false"/>
        <activity
            android:name=".screens.extensiveworkout.ExtensiveWorkoutPage"
            android:exported="false"/>
        <activity
            android:name=".screens.extensiveworkout.StrengthTraining.StrengthTraining"
            android:exported="false"/>
        <activity
            android:name=".screens.extensiveworkout.SelectTraining"
            android:exported="false"/>
        <activity
            android:name=".screens.extensiveworkout.StartTraining"
            android:exported="false"/>
        <activity
            android:name=".screens.resistanceWorkout.ResistanceWorkoutPage"
            android:exported="false"/>
        <activity
            android:name=".screens.resistanceWorkout.SelectExercises"
            android:exported="false"/>
        <activity
            android:name=".screens.resistanceWorkout.SelectTraining"
            android:exported="false"/>
        <activity
            android:name=".screens.resistanceWorkout.StartTraining"
            android:exported="false"/>
    </application>

</manifest>